/* .navbar{color: black !important;} */

.hidden{
  display: none;
}

.links{
  display: flex !important;
  justify-content: space-between !important;
}

ul {
  width: 100%;
  justify-content: space-between;
}

ul li{
  cursor: pointer;
}

.loading{
  /* width: 50% !important; */
  /* z-index: 2; */
  /* position: absolute; */
  /* background: transparent; */
  /* margin-left: 30%; */
  /* height: 50vh; */
}

.pageTitle{
  width: 100%;
  height: auto;
  font-family: myFirstFont;
  font-size: 5rem;
  font-weight: bold;
}

@media screen and (max-width: 778px) {
  .pageTitle{
    font-size: 3.5rem;  
  }

  .dateClass{
    padding: 0 0 !important;
    font-size: 13px;
    border-top: 1px dotted black;
    border-bottom: 1px dotted black;
  }

  .dateClass p{
    margin-bottom: 0;
  }
}

@media screen and (max-width: 600px) {
  .pageTitle{
    font-size: 2.5rem;  
    margin-bottom: 0 !important;
  }

  .dateClass{
    padding: 0 0;
    font-size: 15px;
  }

  .dateClass p{
    margin-bottom: 0;
  }
}


@font-face {
  font-family: myFirstFont;
  src: url('./fonts/Aromabar.ttf');
}

.dateClass{
  padding: 48px 0;
  font-size: 13px;
}